#searchButton{
    background-color: #ffea8f;
}

#searchingBlockBackground{
    position:absolute;
    left:20px;
    top:80px;
    width: 300px;
    height:500px;
    background-color: #ebeecf;
    border-radius: 30px;
}

#searchingBlock{
    position: relative;
    left:20px;
    top:20px;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bolder;
    font-size: 25px;
}

#filterByTitleInput{
    width:260px;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

#textarea{
    width:258px;
    height:200px;
    resize: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#filterButton{
    position: relative;
    height:40px;
    width:260px;
    background-color: #dbffe7;
    font-size: 25px;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bold;
}

#filterButton:hover{
    background-color: #ffea8f;
    cursor: pointer;
}

#resultBlockBackground{
    position:absolute;
    left:400px;
    top:80px;
    width: 1100px;
    height:1200px;
    background-color: #ebeecf;
    border-radius: 30px;
    margin-bottom: 100px;
}

#resultText{
    font-size: 25px;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:20px;
}

.results{
    position: relative;
    left:20px;
    top:50px;
}

.resultImg{
    border-radius: 30px;
    margin-bottom: 50px;
}

.resultDetails{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    /* autoprefixer:ignore next*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
    width:800px;
    float: right;
    margin-right: 120px;
    margin-top: 20px;
}

#pageNumberBlock{
    position:relative;
    left:480px;
    top:55px;
    max-width: 600px;
}

.pageNumber{
    margin-left: 5px;
}

.resultTitles{
    font-size: 30px;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bolder;
}