#mainBackground{
    background-color: #ebeecf;
    border-radius: 50px;
    height:1200px;
    width:1200px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
}

#uploadText{
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 30px;
}

#imgBlock{
    position:relative;
    left: 300px;
    margin-top: 50px;
}

#preview{
    height: 400px;
    width: 550px;
    border-radius: 30px;
}

#form{
    position: relative;
    left:300px;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 50px;
}

#textarea{
    width:550px;
    height:200px;
    resize:none;
}

#submit{
    margin-top: 20px;
    height:40px;
    width:200px;
    background-color: #dbffe7;
    font-size: 25px;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bold;
}

#submit:hover{
    background-color: #ffea8f;
    cursor: pointer;
}
