#browseButton{
    background-color: #ffea8f;
}

#searchButton2{
    position: relative;
    top: 0.3vw;
    height:2vw;
    width: 14vw;
    background-color: #dbffe7;
    font-size: 1.2vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
}

#searchButton2:hover{
    background-color: #ffea8f;
    cursor: pointer;
}

#searchInputBlock{
    height: 2vw;
    width: 25vw;
}

#input{
    height:1.6vw;
    width: 14vw;
}

#searchBlock{
    font-size: 1.7vw;
    color: #0055ca;
    margin-bottom: 4vw;
}

.popular{
    width:14vw;
    min-height: 14vw;
    border-radius: 2vw;
    background-color: #ebeecf;
    margin-top:2vw;
}

.popularText1{
    text-align: center;
    height: 2vw;
    font-size: 1.7vw;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    margin-bottom: 2.5vw ;
    position: relative;
    top:1.2vw;
    color: #0055ca;
}

.popularText{
    color: #001a39;
    text-align: center;
    height: 2vw;
    font-size: 1.3vw;
    border-bottom: 1px rgba(0,0,0,0.2) solid;
}

.lastPopularText{
    color: #001a39;
    text-align: center;
    height: 2vw;
    font-size: 1.3vw;
}

#leftAside{
    position: absolute;
    left:2vw;
    margin-top: 4vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
}

#majorPart{
    width:78vw;
    height:60vw;
    position: absolute;
    left:20vw;
    margin-top: 4vw;
    background-color: #ebeecf;
    border-radius: 4vw;
    margin-bottom: 7vw;
}

#filter{
    height:4vw;
    position: relative;
    left:5vw;
    top:3vw;
    width:78vw;
}

.image{
    position: relative;
    left:3vw;
    top:3vw;
    border-radius: 1.5vw;
    margin: 2vw;
    height: 10vw;
    width: 10vw;
}

.pageNumber{
    margin-left: 1vw;
    font-size: 1.5vw;
}

#pageNumberBlock{
    position:relative;
    left:31vw;
    top:3vw;
    max-width: 30vw;
}

.select{
    background-color: #dbffe7;
    height:2vw;
    width:10vw;
    font-size: 1.2vw;
    margin-right: 4vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
}

.select3{
    height:2vw;
    width:auto;
    min-width:10vw;
    background-color: #dbffe7;
    font-size: 1.2vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
}

#filterButton{
    position: relative;
    left:4vw;
    height:2vw;
    width:10vw;
    background-color: #dbffe7;
    font-size: 1.2vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
}

#filterButton:hover{
    background-color: #ffea8f;
    cursor: pointer;
}