html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcffe0;
}

#nav{
    background-color: #dbffe7;
    height: 4vh;
    float: top;
    color: #002b36;
}

#plane{
    position: absolute;
    height: 4vh;
    width:6vh;
}

#homeButton{
    height: 4vh;
    background-color: #ffea8f;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 6vh;
    text-align: center;
    color: #002b36;
}

#browseButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 21vh;
    text-align: center;
    color: #002b36;
}

#searchButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 36vh;
    text-align: center;
    color: #002b36;
}

a{
    text-decoration: none;
    color: black;
}

#homeButton:hover,#browseButton:hover,#searchButton:hover{
    background-color: #ffc900;
}

.dropdown{
    position:absolute;
    margin: auto;
    right: 0;
    top:0;
    text-align: center;
    display: inline-block;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    min-width: 10vw;
    width:25vh;
    font-size: 3vh;
    height: 4vh;
}

#myAccount:hover{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #dbffe7;
    top: 4vh;
    min-width: 10vw;
    z-index: 999;
    width:25vh;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-button{
    min-width: 10vw;
    width:25vh;
    height: 6vh;
    line-height: 6vh;
    color: #002b36;
}

.dropdown-button:hover{
    background-color: #ffc900;
}

.icon{
    position: absolute;
    left: 0;
    width: 4vh;
    height: 3vh;
}

.icon1{
    position: absolute;
    left: 0;
    top:1vh;
    width: 4vh;
    height: 3vh;
}

.icon2{
    position: absolute;
    left: 0;
    top:7vh;
    width: 4vh;
    height: 3vh;
}

.icon3{
    position: absolute;
    left: 0;
    top:13vh;
    width: 4vh;
    height: 3vh;
}

.icon4{
    position: absolute;
    left: 0;
    top:19vh;
    width: 4vh;
    height: 3vh;
}

#footer{
    position:fixed;
    bottom:0;
    background-color: #AAA;
    width:100%;
    font-family: 'Microsoft YaHei UI',sans-serif;
    opacity: 0.5;
    height: 8%;
}

#welcomeText{
    margin: 0.5vw auto 2vw;
    width: 55%;
    font-family: "Bradley Hand ITC", fantasy;
    font-weight: bolder;
    font-size: 2.5vw;
    color: #e7a700;
}

#leftText{
    position: absolute;
    left:5%;
    top:30%;
    max-width: 30%;
    font-size: 2vh;
}

#leftText1,#leftText2,#leftText3{
    display: inline-block;
    margin-left: 2vw;
    font-size: 2vh;
}

#centerText{
    display: inline;
    position: absolute;
    left: 36%;
    top:30%;
    max-width: 30%;
    font-size: 2vh;
}

#rightText{
    position: absolute;
    right: 0;
    top:30%;
    max-width: 30%;
    font-size: 2vh;
}

.rightIcon{
    margin-right: 1vw;
    height: 2vh;
}




#headImgBackground{
    background-color: #ebeecf;
    height: 39vw;
    width: 50vw;
    border-radius: 2vw;
    position:absolute;
    left: 25vw;
}

#headImg{
    border-radius: 2vw;
    margin:auto;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    height: 35vw;
    width: 46.7vw;
}

#leftImgBlock{
    position: absolute;
    left:8vw;
}

#rightImgBlock{
    position: absolute;
    right: 8vw;
}

.ImgBackground{
    background-color: #ebeecf;
    height: 16vw;
    width: 12vw;
    border-radius: 1.5vw;
    margin-bottom: 4vw;
}

.smallImg1{
    border-radius: 1.5vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    height: 10vw;
    width: 10vw;
}

.smallImg2{
    border-radius: 1.5vw;
    position: absolute;
    top: 21vw;
    left: 1vw;
    height: 10vw;
    width: 10vw;
}

.smallImg3{
    border-radius: 1.5vw;
    position: absolute;
    top:41vw;
    left: 1vw;
    margin-bottom: 10vw;
    height: 10vw;
    width: 10vw;
}

.smallImgText1{
    position: absolute;
    top: 12vw;
    width: 12vw;
    text-align: center;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 1.3vw;
}

.smallImgText2{
    position: absolute;
    top: 32vw;
    width: 12vw;
    text-align: center;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 1.3vw;
}

.smallImgText3{
    position: absolute;
    top: 52vw;
    width: 12vw;
    text-align: center;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 1.3vw;
}

#img7{
     position: absolute;
     top:40vw;
}

#img8{
    position: absolute;
    top:40vw;
}

.smallImgText7{
    position: absolute;
    top: 12vw;
    width: 12vw;
    text-align: center;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 1.3vw;
}

.smallImg7{
    border-radius: 1.5vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    height: 10vw;
    width: 10vw;
}

.ImgBackground7{
    background-color: #ebeecf;
    height: 16vw;
    width: 12vw;
    border-radius: 1.5vw;
    position: absolute;
    left: 5vw;
    margin-bottom: 8vw;
}

.ImgBackground8{
    background-color: #ebeecf;
    height: 16vw;
    width: 12vw;
    border-radius: 1.5vw;
    position: absolute;
    right: 5vw;
}

#hoverButton1{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: #a6fff2;
    position: fixed;
    bottom: 10vh;
    right: 1vw;
    opacity: 0.5;
    font-size: 2.5vh;
}

#hoverButton2{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: #a6fff2;
    position: fixed;
    bottom: 20vh;
    right: 1vw;
    opacity: 0.5;
    font-size: 2.5vh;
}

#refreshIcon{
    height: 6vh;
    width: 6vh;
}

#backToTopIcon{
    height: 5vh;
    width: 5vh;
}

#hoverButton1:hover,#hoverButton2:hover{
    opacity: 1;
    cursor: pointer;
}

button{
    outline: none;
    border:0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    #homeButton,#browseButton,#searchButton{
        width: 10vh;
        font-size: 2.5vh;
    }

    #homeButtonText,#browseButtonText,#searchButtonText{
        padding-top: 6%;
    }

    #browseButton{
        left:16vh;
    }

    #searchButton{
        left:26vh;
    }

    #footer{
        height: 12%;
    }
}

@media screen and (max-width: 500px) {
    #homeButton,#browseButton,#searchButton{
        width: 7vh;
        font-size: 2vh;
    }

    #homeButtonText,#browseButtonText,#searchButtonText{
        padding-top: 10%;
    }

    #browseButton{
        left:13vh;
    }

    #searchButton{
        left:20vh;
    }

    #footer{
        height: 15%;
    }
}