html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcffe0;
}

#nav{
    background-color: #dbffe7;
    height: 4vh;
    float: top;
    color: #002b36;
}

#plane{
    position: absolute;
    height: 4vh;
    width:6vh;
}

#homeButton{
    height: 4vh;
    background-color: #ffea8f;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 6vh;
    text-align: center;
    color: #002b36;
}

#browseButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 21vh;
    text-align: center;
    color: #002b36;
}

#searchButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 36vh;
    text-align: center;
    color: #002b36;
}

a{
    text-decoration: none;
    color: black;
}

#homeButton:hover,#browseButton:hover,#searchButton:hover{
    background-color: #ffc900;
}

.dropdown{
    position:absolute;
    margin: auto;
    right: 0;
    top:0;
    text-align: center;
    display: inline-block;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:25vh;
    font-size: 3vh;
    height: 4vh;
}

#myAccount:hover{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #dbffe7;
    top: 4vh;
    min-width: 10vw;
    z-index: 999;
    width:25vh;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-button{
    min-width: 10vw;
    width:25vh;
    height: 6vh;
    line-height: 6vh;
    color: #002b36;
}

.dropdown-button:hover{
    background-color: #ffc900;
}

.icon{
    position: absolute;
    left: 0;
    width: 4vh;
    height: 3vh;
}

.icon1{
    position: absolute;
    left: 0;
    top:1vh;
    width: 4vh;
    height: 3vh;
}

.icon2{
    position: absolute;
    left: 0;
    top:7vh;
    width: 4vh;
    height: 3vh;
}

.icon3{
    position: absolute;
    left: 0;
    top:13vh;
    width: 4vh;
    height: 3vh;
}

.icon4{
    position: absolute;
    left: 0;
    top:19vh;
    width: 4vh;
    height: 3vh;
}

#footer{
    position:fixed;
    bottom:0;
    background-color: #AAA;
    width:100%;
    font-family: 'Microsoft YaHei UI',sans-serif;
    opacity: 0.5;
    height: 8%;
}

#leftText{
    position: absolute;
    left:5%;
    top: 30%;
    max-width: 30%;
    font-size: 2vh;
}

#leftText1,#leftText2,#leftText3{
    display: inline-block;
    margin-left: 2vw;
    font-size: 2vh;
}

#centerText{
    display: inline;
    position: absolute;
    left: 36%;
    top:30%;
    max-width: 30%;
    font-size: 2vh;
}

#rightText{
    position: absolute;
    right: 0;
    top:30%;
    max-width: 30%;
    font-size: 2vh;
}

.rightIcon{
    margin-right: 1vw;
    height: 2vh;
}

#headImgBackground{
    background-color: #ebeecf;
    height: 540px;
    width: 700px;
    border-radius: 25px;
    position:absolute;
    left:400px;
    top:100px;
}

#headImg{
    border-radius: 25px;
    margin:auto;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

#leftImgBlock{
    margin-top: 30px;
    position: absolute;
    left:100px;
}

#rightImgBlock{
    margin-top: 30px;
    position: absolute;
    left:1200px;
}


.ImgBackground{
    background-color: #ebeecf;
    height: 250px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
}

.smallImg1{
    border-radius: 20px;
    position: absolute;
    top: 45px;
    left: 25px;
    height: 150px;
    width: 150px;
}

.smallImg2{
    border-radius: 20px;
    position: absolute;
    top: 325px;
    left: 25px;
    height: 150px;
    width: 150px;
}

.smallImg3{
    border-radius: 20px;
    position: absolute;
    top:605px;
    left: 25px;
    margin-bottom: 200px;
    height: 150px;
    width: 150px;
}

.smallImgText1{
    position: absolute;
    top: 205px;
    left: 25px;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 20px;
}

.smallImgText2{
    position: absolute;
    top: 485px;
    left: 25px;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 20px;
}

.smallImgText3{
    position: absolute;
    top: 765px;
    left: 25px;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 20px;
}

#img7{
     position: absolute;
     top:540px;
}

#img8{
    position: absolute;
    top:540px;
    right: 0;
}

.smallImgText7{
    position: absolute;
    top: 175px;
    left: 25px;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 20px;
}

.smallImg7{
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 25px;
    height: 150px;
    width: 150px;
}

.ImgBackground7{
    background-color: #ebeecf;
    height: 250px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    position: absolute;
    left: 50px;
    margin-bottom: 100px;
}

.ImgBackground8{
    background-color: #ebeecf;
    height: 250px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    position: absolute;
    left: 450px;
}

#hoverButton1{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: #a6fff2;
    position: fixed;
    bottom: 10vh;
    right: 1vw;
    opacity: 0.5;
    font-size: 2.5vh;
}

#hoverButton2{
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: #a6fff2;
    position: fixed;
    bottom: 20vh;
    right: 1vw;
    opacity: 0.5;
    font-size: 2.5vh;
}

#refreshIcon{
    height: 6vh;
    width: 6vh;
}

#backToTopIcon{
    height: 5vh;
    width: 5vh;
}

#hoverButton1:hover,#hoverButton2:hover{
    opacity: 1;
    cursor: pointer;
}

button{
    outline: none;
    border:0;
    padding: 0;
}