#img{
    border-radius: 2vw;
    position: relative;
    top:2vw;
    left:2vw;
    display: inline;
    height: 30vw;
    width: 40vw;
}

#mainBackground{
    background-color: #ebeecf;
    height:37vw;
    width:90vw;
    position: absolute;
    margin-top: 4vw;
    left:4vw;
    border-radius: 3vw;
    margin-bottom: 8vw;
}

#detailBlock{
    position: absolute;
    top:2vw;
    left:45vw;
    display: inline;
}

#title{
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 2vw;
    margin-bottom: 2vw;
}

#detail{
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 1.7vw;
}

#favouriteBlock{
    position: absolute;
    left:30vw;
}

#likeButton{
    position: relative;
    height:3vw;
    width:10vw;
    background-color: #dbffe7;
    font-size: 1.7vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
}

#likeButton:hover{
    background-color: #ffea8f;
    cursor: pointer;
}