html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fcffe0;
}

#nav{
    background-color: #dbffe7;
    height: 4vh;
    float: top;
    color: #002b36;
}

#plane{
    position: absolute;
    height: 4vh;
    width:6vh;
}

#homeButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 6vh;
    text-align: center;
    color: #002b36;
}

#browseButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 21vh;
    text-align: center;
    color: #002b36;
}

#searchButton{
    height: 4vh;
    background-color: #dbffe7;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:15vh;
    font-size: 3.5vh;
    position: absolute;
    left: 36vh;
    text-align: center;
    color: #002b36;
}

a{
    text-decoration: none;
}

#homeButton:hover,#browseButton:hover,#searchButton:hover{
    background-color: #ffc900;
}

.dropdown{
    position:absolute;
    margin: auto;
    right: 0;
    top:0;
    text-align: center;
    display: inline-block;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
    width:25vh;
    font-size: 3vh;
    min-width: 10vw;
    height: 4vh;
}

#myAccount:hover{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    top:4vh;
    background-color: #dbffe7;
    min-width: 10vw;
    z-index: 999;
    width:25vh;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-button{
    min-width: 10vw;
    width:25vh;
    height: 6vh;
    line-height: 6vh;
    color: #002b36;
}

.dropdown-button:hover{
    background-color: #ffc900;
}

.icon{
    position: absolute;
    left: 0;
    width: 4vh;
    height: 3vh;
}

.icon1{
    position: absolute;
    left: 0;
    top:1vh;
    width: 4vh;
    height: 3vh;
}

.icon2{
    position: absolute;
    left: 0;
    top:7vh;
    width: 4vh;
    height: 3vh;
}

.icon3{
    position: absolute;
    left: 0;
    top:13vh;
    width: 4vh;
    height: 3vh;
}

.icon4{
    position: absolute;
    left: 0;
    top:19vh;
    width: 4vh;
    height: 3vh;
}

#footer{
    position:fixed;
    bottom:0;
    background-color: #AAA;
    width:100%;
    text-align: center;
    font-family: 'Microsoft YaHei UI',sans-serif;
    opacity: 0.5;
    z-index: 999;
    height:5%;
}

#footerText{
    font-size: 2vh;
}


@media screen and (max-width: 600px) {
    #homeButton,#browseButton,#searchButton{
        width: 10vh;
        font-size: 2.5vh;
    }

    #homeButtonText,#browseButtonText,#searchButtonText{
        padding-top: 6%;
    }

    #browseButton{
        left:16vh;
    }

    #searchButton{
        left:26vh;
    }
}

@media screen and (max-width: 420px) {
    #homeButton,#browseButton,#searchButton{
        width: 6vh;
        font-size: 2vh;
    }

    #homeButtonText,#browseButtonText,#searchButtonText{
        padding-top: 10%;
    }

    #browseButton{
        left:12vh;
    }

    #searchButton{
        left:18vh;
    }
}

a{
    text-decoration: none;
    color: black;
}