#searchButton{
    background-color: #ffea8f;
}

#searchingBlockBackground{
    position:absolute;
    left:1vw;
    margin-top: 4vw;
    width: 20vw;
    height:35vw;
    background-color: #ebeecf;
    border-radius: 2vw;
}

#searchingBlock{
    position: relative;
    left:1vw;
    top:1vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    font-size: 1.8vw;
}

#filterByTitleInput{
    width:16vw;
    border-radius: 1vw;
    resize: none;
    margin-bottom: 1vw;
    margin-top: 1vw;
    height: 5vw;
}

.radio{
    height: 1vw;
    width: 1vw;
}

#textarea{
    width:16vw;
    height:10vw;
    resize: none;
    border-radius: 1.3vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

#filterButton{
    position: relative;
    height:3vw;
    width:16vw;
    background-color: #dbffe7;
    font-size: 1.8vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bold;
}

#filterButton:hover{
    background-color: #ffea8f;
    cursor: pointer;
}

#resultBlockBackground{
    position:absolute;
    left:25vw;
    margin-top: 4vw;
    width: 70vw;
    height:95vw;
    background-color: #ebeecf;
    border-radius: 2vw;
    margin-bottom: 8vw;
}

#resultText{
    font-size: 1.8vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
    position: relative;
    left:1vw;
    top:1vw;
}

.results{
    position: relative;
    left:2vw;
    top:2.5vw;
}

.resultImg{
    border-radius: 2vw;
    margin-bottom: 5vw;
    height: 10vw;
    width: 10vw;
}

.resultDetails{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    /* autoprefixer:ignore next*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    width:48vw;
    float: right;
    margin-right: 8vw;
    margin-top: 1.2vw;
    font-size: 1vw;
    max-height: 12vw;
}

#pageNumberBlock{
    position:relative;
    left:20vw;
    top:4vw;
    max-width: 50vw;
}

.pageNumber{
    margin-left: 1vw;
    font-size: 1.1vw;
}

.resultTitles{
    font-size: 2vw;
    font-family: "Bradley Hand ITC", cursive;
    font-weight: bolder;
}